In [ ]:
# Load .csv data from web-scrapping to Db2 cloud database.
# Execute SQL queries to explore data

In [1]:
!pip install sqlalchemy==1.3.9
!pip install ibm_db_sa
!pip install ipython-sql

Collecting sqlalchemy==1.3.9
  Downloading SQLAlchemy-1.3.9.tar.gz (6.0 MB)
     |████████████████████████████████| 6.0 MB 8.4 MB/s eta 0:00:01MB/s eta 0:00:01
Building wheels for collected packages: sqlalchemy
  Building wheel for sqlalchemy (setup.py) ... done
  Created wheel for sqlalchemy: filename=SQLAlchemy-1.3.9-cp39-cp39-linux_x86_64.whl size=1159950 sha256=ad19f3c780b829f7096b3fc954d765fa9816fba11c9bbd39d050d8fbc789d0b8
  Stored in directory: /tmp/wsuser/.cache/pip/wheels/5b/43/0d/de1699809f9e6aaa54a97275298fa07075cb19acc557b18955
Successfully built sqlalchemy
Installing collected packages: sqlalchemy
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.4.27
    Uninstalling SQLAlchemy-1.4.27:
      Successfully uninstalled SQLAlchemy-1.4.27
Successfully installed sqlalchemy-1.3.9
Requirement already satisfied: ibm_db_sa in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (0.3.8)
Requirement already satisfied: ibm-db>=2.0.0 in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from ibm_db_sa) (3.1.3)
Requirement already satisfied: sqlalchemy>=0.7.3 in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from ibm_db_sa) (1.3.9)
Collecting ipython-sql
  Downloading ipython_sql-0.4.1-py3-none-any.whl (21 kB)
Collecting sqlparse
  Downloading sqlparse-0.4.3-py3-none-any.whl (42 kB)
     |████████████████████████████████| 42 kB 2.3 MB/s  eta 0:00:01
Collecting prettytable<1
  Downloading prettytable-0.7.2.zip (28 kB)
Requirement already satisfied: sqlalchemy>=0.6.7 in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from ipython-sql) (1.3.9)
Requirement already satisfied: six in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from ipython-sql) (1.15.0)
Requirement already satisfied: ipython>=1.0 in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from ipython-sql) (7.31.1)
Requirement already satisfied: ipython-genutils>=0.1.0 in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: backcall in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: matplotlib-inline in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (0.1.2)
Requirement already satisfied: pexpect>4.3 in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (4.8.0)
Requirement already satisfied: pygments in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (2.10.0)
Requirement already satisfied: traitlets>=4.2 in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (0.18.0)
Requirement already satisfied: decorator in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (5.1.0)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (3.0.20)
Requirement already satisfied: pickleshare in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: setuptools>=18.5 in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (58.0.4)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from pexpect>4.3->ipython>=1.0->ipython-sql) (0.7.0)
Requirement already satisfied: wcwidth in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)
Building wheels for collected packages: prettytable
  Building wheel for prettytable (setup.py) ... done
  Created wheel for prettytable: filename=prettytable-0.7.2-py3-none-any.whl size=13714 sha256=7d54e8fb13377b7c3b80906dcf3b0f381a08bc0286f3cc82c09a88513fb1431b
  Stored in directory: /tmp/wsuser/.cache/pip/wheels/75/f7/28/77a076f1fa8cbeda61aca712815d04d7a32435f04a26a2dd7b
Successfully built prettytable
Installing collected packages: sqlparse, prettytable, ipython-sql
Successfully installed ipython-sql-0.4.1 prettytable-0.7.2 sqlparse-0.4.3

In [2]:
# Load SQl extension and establish connection with database
%load_ext sql

In [5]:
%sql ibm_db_sa://svw33067:URiGSSI3QsshvfBw@9938aec0-8105-433e-8bf9-0fbb7e483086.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32459/BLUDB?security=SSL

In [46]:
# Query all column names from dataset 'SPACE_X'
%sql select COLNAME \
from SYSCAT.COLUMNS \
where TABNAME = 'SPACE_X'

 * ibm_db_sa://svw33067:***@9938aec0-8105-433e-8bf9-0fbb7e483086.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32459/BLUDB
Done.

[('BOOSTER_VERSION',),
 ('CUSTOMER',),
 ('DATE',),
 ('LAUNCH_SITE',),
 ('Landing _Outcome',),
 ('MISSION_OUTCOME',),
 ('ORBIT',),
 ('PAYLOAD',),
 ('PAYLOAD_MASS__KG_',),
 ('Time (UTC)',)]

In [6]:
# Display names of all launch sites
%sql select distinct LAUNCH_SITE \
from SPACE_X

 * ibm_db_sa://svw33067:***@9938aec0-8105-433e-8bf9-0fbb7e483086.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32459/BLUDB
Done.

[('CCAFS LC-40',), ('CCAFS SLC-40',), ('KSC LC-39A',), ('VAFB SLC-4E',)]

In [10]:
# Display records where launch sites being with the string 'CCA'

%sql select * \
from SPACE_X \
where LAUNCH_SITE like 'CCA%' \
limit 5

 * ibm_db_sa://svw33067:***@9938aec0-8105-433e-8bf9-0fbb7e483086.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32459/BLUDB
Done.

[(datetime.date(2010, 4, 6), datetime.time(18, 45), 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)'),
 (datetime.date(2010, 8, 12), datetime.time(15, 43), 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)'),
 (datetime.date(2012, 5, 22), datetime.time(7, 44), 'F9 v1.0  B0005', 'CCAFS LC-40', 'Dragon demo flight C2', 525, 'LEO (ISS)', 'NASA (COTS)', 'Success', 'No attempt'),
 (datetime.date(2012, 8, 10), datetime.time(0, 35), 'F9 v1.0  B0006', 'CCAFS LC-40', 'SpaceX CRS-1', 500, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt'),
 (datetime.date(2013, 1, 3), datetime.time(15, 10), 'F9 v1.0  B0007', 'CCAFS LC-40', 'SpaceX CRS-2', 677, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')]

In [15]:
# Display total payload mass carried by boosters launched by 'NASA (CRS)'

%sql select sum(PAYLOAD_MASS__KG_) as total_payload_mass\
from SPACE_X \
where CUSTOMER = 'NASA (CRS)'

 * ibm_db_sa://svw33067:***@9938aec0-8105-433e-8bf9-0fbb7e483086.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32459/BLUDB
Done.

[(45596,)]

In [20]:
# Display average payload mass carried by booster version F9 v1.1

%sql select avg(PAYLOAD_MASS__KG_) as avg_payload_mass \
from SPACE_X \
where BOOSTER_VERSION like 'F9 v1.1%'

 * ibm_db_sa://svw33067:***@9938aec0-8105-433e-8bf9-0fbb7e483086.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32459/BLUDB
Done.

[(2534,)]

In [77]:
# List the date when the first successful landing outcome in ground pad was acheived.

%sql select min(DATE) as first_date\
from SPACE_X \
where "Landing _Outcome" = 'Success (ground pad)'

 * ibm_db_sa://svw33067:***@9938aec0-8105-433e-8bf9-0fbb7e483086.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32459/BLUDB
Done.

[(datetime.date(2015, 12, 22),)]

In [70]:
# List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

%sql select distinct BOOSTER_VERSION\
,PAYLOAD_MASS__KG_ \
from SPACE_X \
where "Landing _Outcome" = 'Success (drone ship)' \
and PAYLOAD_MASS__KG_ > 4000\
and PAYLOAD_MASS__KG_ < 6000

 * ibm_db_sa://svw33067:***@9938aec0-8105-433e-8bf9-0fbb7e483086.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32459/BLUDB
Done.

[('F9 FT  B1021.2', 5300),
 ('F9 FT  B1031.2', 5200),
 ('F9 FT B1022', 4696),
 ('F9 FT B1026', 4600)]

In [83]:
# List the total number of successful and failure mission outcomes

%sql select count(*) as Failure_Count\
,(select count(*)\
 from SPACE_X\
 where MISSION_OUTCOME like 'Success%') as Success_Count\
from SPACE_X \
where MISSION_OUTCOME like 'Failure%'

 * ibm_db_sa://svw33067:***@9938aec0-8105-433e-8bf9-0fbb7e483086.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32459/BLUDB
Done.

[(1, 100)]

In [91]:
# List the names of the booster_versions which have carried the maximum payload mass

%sql select BOOSTER_VERSION\
,PAYLOAD_MASS__KG_\
from SPACE_X\
where PAYLOAD_MASS__KG_ = (select max(PAYLOAD_MASS__KG_) from SPACE_X)

 * ibm_db_sa://svw33067:***@9938aec0-8105-433e-8bf9-0fbb7e483086.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32459/BLUDB
Done.

[('F9 B5 B1048.4', 15600),
 ('F9 B5 B1049.4', 15600),
 ('F9 B5 B1051.3', 15600),
 ('F9 B5 B1056.4', 15600),
 ('F9 B5 B1048.5', 15600),
 ('F9 B5 B1051.4', 15600),
 ('F9 B5 B1049.5', 15600),
 ('F9 B5 B1060.2', 15600),
 ('F9 B5 B1058.3', 15600),
 ('F9 B5 B1051.6', 15600),
 ('F9 B5 B1060.3', 15600),
 ('F9 B5 B1049.7', 15600)]

In [104]:
# List the failed landing_outcomes in drone ship, their booster versions, and launch site names for in year 2015

%sql select DATE\
,PAYLOAD \
,BOOSTER_VERSION \
,LAUNCH_SITE\
,"Landing _Outcome"\
from SPACE_X \
where "Landing _Outcome" like 'Failure%'\
and extract(year from DATE) = 2015

 * ibm_db_sa://svw33067:***@9938aec0-8105-433e-8bf9-0fbb7e483086.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32459/BLUDB
Done.

[(datetime.date(2015, 10, 1), 'SpaceX CRS-5', 'F9 v1.1 B1012', 'CCAFS LC-40', 'Failure (drone ship)'),
 (datetime.date(2015, 4, 14), 'SpaceX CRS-6', 'F9 v1.1 B1015', 'CCAFS LC-40', 'Failure (drone ship)')]

In [117]:
# Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) 
# between the date 2010-06-04 and 2017-03-20, in descending order

%sql select "Landing _Outcome"\
,count(*) as count\
from SPACE_X \
where (DATE BETWEEN '2010-06-04 ' AND '2017-03-20') \
group by "Landing _Outcome" \
order by count desc

 * ibm_db_sa://svw33067:***@9938aec0-8105-433e-8bf9-0fbb7e483086.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32459/BLUDB
Done.

[('No attempt', 10),
 ('Failure (drone ship)', 5),
 ('Success (drone ship)', 5),
 ('Success (ground pad)', 5),
 ('Controlled (ocean)', 3),
 ('Uncontrolled (ocean)', 2),
 ('Failure (parachute)', 1),
 ('Precluded (drone ship)', 1)]

## <h3 align="center"> © IBM Corporation 2021. All rights reserved. <h3/>